<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report №{{reportNumber}}</title>
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<h1>Report №{{reportNumber}}</h1>


<table>
    <tr>
        <th>User</th>
        <th>Form</th>
    </tr>

    {{#usersAndTheirForms}}
    <tr>
        <td>
            {{userId}}
        </td>
        <td>
            {{#forms}}
            <ol>
                <li>
                    {{.}}
                </li>
            </ol>
            {{/forms}}
        </td>
    </tr>
    {{/usersAndTheirForms}}


</table>


</body>
</html>